<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员</title>
</head>
<body>
<h3 id="page-title">mytest</h3>

<table>
    <td class="table-title">文件系统</td>
        <td class="table-title">容量</td>
        <td class="table-title">当前已用</td>
        <td class="table-title">当前可用</td>
        <td class="table-title">使用比</td>
        <td class="table-title">挂载点</td>
        <td class="table-title">操作</td>
    {% for i in filesystem %}
    <tr>
        <td class="filesystem">{{i[0]}}</td>
        <td class="filesystem">{{i[1]}}</td>
        <td class="filesystem">{{i[2]}}</td>
        <td class="filesystem">{{i[3]}}</td>
        <td class="filesystem">{{i[4]}}</td>
        <td class="filesystem">{{i[5]}}</td>
        <td class="filesystem"><a href="/extend/{{i[6]}}">{% if i[6] != 'None' %}扩容{% endif %}</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>